version: "3.8"

services:
  node:
    image: stackupwallet/go-ethereum:v1.13.14
    command:
      - "--http.vhosts=*"
      - "--http"
      - "--http.api=eth,net,web3,debug"
      - "--http.corsdomain=*"
      - "--http.addr=0.0.0.0"
      - "--nodiscover"
      - "--maxpeers=0"
      - "--mine"
      - "--networkid=1337"
      - "--dev"
      - "--allow-insecure-unlock"
      - "--rpc.allow-unprotected-txs"
      - "--miner.gaslimit=12000000"

  bundler:
    image: stackupwallet/stackup-bundler:v0.6.44
    environment:
      ERC4337_BUNDLER_ETH_CLIENT_URL: "http://node:8545"
      ERC4337_BUNDLER_NATIVE_BUNDLER_COLLECTOR_TRACER: "bundlerCollectorTracer"
      ERC4337_BUNDLER_NATIVE_BUNDLER_EXECUTOR_TRACER: "bundlerExecutorTracer"
      # This key is for testing purposes only. Do not use for anything else.
      ERC4337_BUNDLER_PRIVATE_KEY: "c6cbc5ffad570fdad0544d1b5358a36edeb98d163b6567912ac4754e144d4edb"
    depends_on:
      node:
        condition: service_started

  proxy:
    image: openresty/openresty:1.25.3.1-2-alpine
    ports:
      - "8545:80"
    volumes:
      - ./proxy:/etc/nginx/conf.d
    depends_on:
      bundler:
        condition: service_started

  fund-bundler:
    image: stackupwallet/go-ethereum:v1.13.14
    command: '--exec "eth.sendTransaction({from: eth.accounts[0], to: \"0x43378ff8C70109Ee4Dbe85aF34428ab0615EBd23\", value: web3.toWei(1, \"ether\")})" attach http://node:8545'
    depends_on:
      proxy:
        condition: service_started

  deploy-v0.6:
    build:
      context: .
      dockerfile: ./contracts/v0.6.Dockerfile
    command: "deploy --network localhost"
    depends_on:
      fund-bundler:
        condition: service_completed_successfully
